body {
    background: #e4f7f4;
    
    /* background: rgb(200,250,250);
    background: linear-gradient(45deg, rgba(200,250,250,0.9051995798319328) 18%, rgba(208,237,237,1) 86%); */
}

header {
    display: flex;
    font-family: 'Dosis', sans-serif;;
    font-size:0.75em;
    font-style: italic;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
    margin-top: 2em;
}

h1 {
    font-family: 'Dosis', sans-serif;
    font-weight: 200;
    font-style: italic;
}

p {
    font-size: 1.25em;
}

.container {
    width: 55vh;
    height: 70vh;
    display: flex;
    flex-flow: column;
    /* background-color: blue; */
    margin: auto;
    box-shadow: 0px 0px 36px 3px rgba(100,100,100,0.75);
    border-radius: 1.75em;
    margin-top: 3em;
    
}

#display {
    flex-flow:column nowrap;
    height:10vh;
    justify-content: center;
    text-align: center;
    background-color: white;
    border-radius: 1.75em 1.75em 0 0;
    background-color:white;
}

.containerRow {
    display: flex;
    flex-flow: row;
    flex-grow: 1;
    background-color: none;
    /* border-radius: 1.75em; */
    /* justify-content: space-around; */
}

button {
   width: 25%;
   border: 0;
 background: none;
 box-shadow: none;
 border-radius: 0px;
 font-family: 'Dosis', sans-serif;
 font-size: 2em;
 color: slategray;
 font-weight: 600;
}

button:hover {
 border: 0;
 background: #88FADF;
 box-shadow: none;
 border-radius: 0px;
 color:white;
}


.btn0 {
    flex-grow: 2;
    border-radius: 0em 0em 0em 1em;
}

.btn0:hover {
    border-radius: 0em 0em 0em 0.9em;
}

.num {
    background: white;
}

.btnEquals {
    border-radius: 0em 0em 0.9em 0em;
    
}

.btnEquals:hover {
    border-radius: 0em 0em 0.9em 0em;
}

.operand {
    background-color:lightgray;
}

.display-text {
    font-family: 'Dosis', sans-serif;
    font-size: 3em;
    letter-spacing: 0.15em;
    font-weight: 550;
    color: darkcyan;
    margin-top: 30px;
    margin-bottom: 30px;   
    
}

